.project-page-container {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 100%;

  .project-page-blurb {
    color: white;
    text-align: center;

    h2 {
      color: yellow;
    }

    h3 {
      font-size: 24px;
      margin-left: 10%;
      margin-right: 10%;
    }
  }

  .project-item-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  }

}



@media screen and (max-width: 1000px) {

  .project-page-container {

    .project-item-container {

      grid-template-columns: 1fr;
      height: 40%;
    }
  }

}
