.project-page-container {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 100%;
  position: relative;

  .project-page-blurb {
    color: white;
    text-align: center;

    h2 {
      color: yellow;
    }

    h3 {
      font-size: 24px;
      margin-left: 10%;
      margin-right: 10%;
    }
  }

  .project-item-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  }

  .project-modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }

}



@media screen and (max-width: 1000px) {

  .project-page-container {

    .project-page-blurb {
      margin-top: 20px;

      h2 {
        font-size: 20px;
      }

      h3 {
        font-size: 18px;

      }
    }


    .project-item-container {

      grid-template-columns: 1fr;
      height: 40%;
    }
  }

}
