.main-profile-div {
  min-height: 100vh;

  .bottom-blurb {
    margin-top: 0%;
    color: white;
    text-align: center;
  }

  .logo {
    width: 100px;
    height: 100px;
  }

  .contact-info {
    color: yellow;
    font-size: 16px;
    font-weight: bold;
  }
}

@media screen and (max-width: 1330px) {
  .main-profile-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .skills-section {
    margin-top: 0%;
  }
}
