.profile-container {
  display: flex;
  margin: 5% 8% 2% 8%;
  height: 300px;
  background-color: rgba(23, 0, 250, 0.3);

  .profile-blurb {
    color: white;
    align-self: center;
    margin-right: 8%;
    margin-left: 3%;
    margin-bottom: auto;
  }

  .picture-container {

    img {

    }
  }

  .line {
    background-color: blue;
    background: linear-gradient(45deg, blue, red);
    width: 50px;
    margin-right: 10px;
  }

}

.logo-container {
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .logo {
    width: 150px;
  }
}
