.socials-container {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 5% 8% 0% 10%;
  margin-right: auto;
  width: 50%;



  .header-item {
    color: white;
    text-align: left;
    padding-right: 10%;
    list-style: none;
    text-decoration: none;
  }
}
