.each-project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  height: 300px;
  margin-right: 10%;
  margin-top: 20px;
  margin-bottom: 40px;
  position: relative;

  .upper-container {
    display: flex;
    outline: 3px solid rgba(3, 12, 50, 1);
    width: 100%;
    min-height: 70%;
    max-height: 70%;
    margin-bottom: auto;
    align-items: center;
    text-align: center;
    justify-content: center;

    .project-title {
      font-weight: bold;
      font-size: 30px;
      text-decoration: none;
      color: white;;
      background-color: rgba(0, 0, 0, 0.5);

      &:hover {
        color: yellow;
      }
    }
  }

  .lower-container {
    display: flex;
    background-color: rgba(3, 12, 50, 0.8);
    outline: 3px solid rgba(3, 12, 50, 1);
    width: 100%;
    height: 30%;
    align-items: center;
    text-align: center;
    justify-content: center;

    p {
      color: white;
      font-size: 20px;
    }
  }

  .information-symbol {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 29px;
    height: 29px;
    margin-right: 5px;
    margin-top: 5px;
    background-color: rgba(0, 0, 226, 0.4);
    border-radius: 50px;
    cursor: pointer;

      &:hover {
        background-color: rgba(0, 0, 226, 1);
      }


    span {
      font-size: 20px;
      color: white;

    }
  }

  .active-users {
    position: absolute;
    top: 0;
    left: 0;
    color: lime;
    font-weight: bolder;
    margin-top: 10px;
    margin-left: 10px;
    background-color: black;
  }
}

@media screen and (max-width: 900px) {

  .each-project-container {
    .information-symbol {
      display: none;
    }
  }

}
