.app-container {
  margin: 5% 15%;
  border: 1px solid black;
  height: 87vh;
  border-radius: 3%;
  background-color: black;

  .modal-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 1%;
  }
}
